<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    需要手动指定初始化方法和销毁方法-->
    <bean class="cdu.zch.spring6.bean.User" id="user"
          init-method="initBean" destroy-method="destroyBean">
        <property name="name" value="张三"/>
    </bean>

    <!--    配置Spring Bean后处理器，注意，这个后处理器将应用于该配置文件中的所有Bean！-->
    <bean class="cdu.zch.spring6.bean.LogBeanPostProcessor"/>

</beans>