<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cdu.zch.mybatis.mapper.CarMapper">

    <!--
        默认情况下，二级缓存机制使开启的
        1. 只需要在对应xml文件中开启以下标签，用来表示需要使用二级缓存
        2. 并且实体类必须是可序列化的
        3. 最后，sqlSession必须关闭之后，数据才会到二级缓存上
    -->
    <!--<cache/>-->

    <!--使用ehcache-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="selectById" resultType="Car">
        select * from t_car where id=#{id}
    </select>

    <select id="selectById2" resultType="Car">
        select * from t_car where id=#{id}
    </select>

</mapper>