<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!--    别名标签-->
    <typeAliases>
        <!--
            type: 给哪个类起别名
            alias：起什么别名
            注意：别名不区分大小写
                namespace不能使用别名机制，必须写全限定名！！！
            alias 是可以省略的，有默认别名
                默认别名就是类的简名，如cdu.zch.mybatis.pojo.Car 别名就是 Car/car/CAr...
         -->
        <!-- <typeAlias type="cdu.zch.mybatis.pojo.Car" alias="Car"/>-->
        <!-- 将这个包下的所有类自动起别名，别名就是类简名 -->
        <package name="cdu.zch.mybatis.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="CarMapper.xml"/>
        
<!--        <package name="cdu.zch.mybatis.mapper.CarMapper"/>-->
    </mappers>
</configuration>