<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="cdu.zch.spring6.service"/>

    <!--开启aspectj的自动代理
        spring扫描类的时候，查看该类上是否有@Aspect注解，有的话就会生成代理对象
        proxy-target-class="true" 表示强制使用CGLIB代理
        proxy-target-class="false" 这是默认的，接口使用JDK代理，反之使用CGLIB代理
    -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

</beans>